{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />
<script src="{% static 'common/js/jquery-3.3.1.min.js' %}"></script>
{% endblock %}

{% block scripts %}
<script src="{% static 'login/js/login.js' %}"></script>
{% endblock %}

{% block content %}

{% if error %}
    <div class="c_error c_error--pink">
        {{ error }}
    </div>
{% endif %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <div class="panel-heading">
                <div class="row justify-content-md-center">
                    <div class="col-lg-6">
                        <nav class="row nav justify-content-center nav-fill row">
                            <a id="login-form-tab" class="col-6 nav-link active" href="#">Login</a>
                            <a id="signup-form-tab" class="col-6 nav-link" href="#">Sign up</a>
                        </nav>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- TODO: Can some of this be cleaned up a bit? -->
            <div class="panel-body">
                <div class="row justify-content-md-center">
                    <div class="col-lg-12">
                        <form id="login-form" class="form">
                            {% csrf_token %}
                            <div class="row justify-content-md-center">
                                <div class="col-lg-6 form-group">
                                    <input id="login_email" class="form-control" type="text" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-lg-6 form-group">
                                    <input id="login_password" class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-lg-6 form-group">
                                    <div class="form-message hidden">
                                        <i class="fas fa-exclamation-circle"></i>
                                        <span></span>
                                    </div>
                                    <button class="form-control btn" type="submit" name="submit" value="log_in">Log In</button>
                                </div>
                            </div>
                        </form>
                        <form id="signup-form" class="form">
                            {% csrf_token %}
                            <div id="email-group" class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6 form-group">
                                    <input id="email" class="form-control" type="text" name="email" placeholder="Email">
                                </div>
                                <div class="col-lg-3 form-field-message hidden">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6 form-group">
                                    <input id="password" class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                            <div id="confirm-password-group" class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6 form-group">
                                    <input id="confirm-password" class="form-control" type="password" name="confirm-password" placeholder="Confirm Password">
                                </div>
                                <div class="col-lg-3 form-field-message hidden">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6 form-group">
                                    <button id="signup-button" class="form-control btn" type="submit" name="submit" value="sign_up" disabled>Sign Up</button>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
