{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link href="{% sass_src 'login/scss/login.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{% static 'login/js/intake.js' %}"></script>
{% endblock %}

<!-- TODO: create account will redirect here, we shouldn't let users come back to this page after they've seen it once -->
<!-- TODO: these questions and options are all samples to play with the types of question formats we will need -->

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <!-- TODO: should write something about data privacy... -->
            <h2>We want to learn more about you!</h2>
            <p>The more we know about you, the more we can personalize your experience on CreeTutor.</p>
            <p>The information you provide us will also help us learn more about how people learn Cree, which will help us improve the system in the future.</p>
            <p>All questions are completely optional. You can still use the system whether you answer all of the questions or none of them.</p>
            <p>Tip: hover over the <i class="far fa-question-circle"></i> icon next to each question to learn why we are asking you that question.</p>
            <form id="intake-form" class="form">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col">
                        <label for="first-name">
                            First Name
                            <i class="far fa-question-circle" data-toggle="tooltip" data-title="We want to know your name so we can personalize your experience on the site and say hello to you when you log in!"></i>
                        </label>
                        <input type="text" class="form-control" id="first-name">
                    </div>
                    <div class="col">
                        <label for="last-name">
                            Last Name
                            <i class="far fa-question-circle" data-toggle="tooltip" data-title="This data will help us do a thing"></i>
                        </label>
                        <input type="text" class="form-control" id="last-name">
                    </div>

                </div>
                <div class="form-group row">
                    <legend class="col-12 col-form-label">
                        Age Range
                        <i class="far fa-question-circle" data-toggle="tooltip" data-title="Knowing your age can help us personalize your experience and "></i>
                    </legend>
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-1" value="12 or younger">
                            <label class="form-check-label" for="age-range-1">
                                12 or younger
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-2" value="12-18">
                            <label class="form-check-label" for="age-range-2">
                                12-18
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-3" value="19-29">
                            <label class="form-check-label" for="age-range-3">
                                19-29
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-4" value="30-39">
                            <label class="form-check-label" for="age-range-4">
                                30-39
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-5" value="40-49">
                            <label class="form-check-label" for="age-range-5">
                                40-49
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-6" value="50-59">
                            <label class="form-check-label" for="age-range-6">
                                50-59
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-7" value="60-69">
                            <label class="form-check-label" for="age-range-7">
                                60-69
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-8" value="70 or older">
                            <label class="form-check-label" for="age-range-8">
                                70 or older
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="age" id="age-range-9" value="prefer not to answer">
                            <label class="form-check-label" for="age-range-9">
                                Prefer not to answer
                            </label>
                        </div>
                    </div>
                </div>
                <div id="first-language-group" class="form-group row">
                    <label class="col-12" for="first-language-input-group">
                        First Language
                        <i class="far fa-question-circle" data-toggle="tooltip" data-title="Knowing your first language will help us learn how other people with your language background learn Cree."></i>
                    </label>
                    <div class="col-12">
                        <a href="" id="first-language-help">
                            <small>What if I'm not sure what my first language is?</small>
                        </a>
                        <div id="first-language-help-text" class="closed">
                            <small>
                                Your first language is the language you first spoke as a child. If you spoke two or more languages equally as a child, you can add more than one.
                            </small>
                        </div>

                    </div>
                    <div id="first-language-input-group" class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control first-language" placeholder="e.g. English">
                            <div id="first-language" class="dropdown input-group-append">
                                <a class="btn btn-secondary dropdown-toggle" data-display="static" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Fluency</span>
                                </a>
                                <!-- TODO: decide on better options -->
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="" value="1">Spoke only as a child, no longer understand or speak the language</a>
                                    <a class="dropdown-item" href="" value="2">Can still understand, but cannot speak very well</a>
                                    <a class="dropdown-item" href="" value="3">Can still understand and speak, but not fluently</a>
                                    <a class="dropdown-item" href="" value="4">Can speak fluently</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary add-first-language" type="button">
                            Add Language
                        </button>
                    </div>
                </div>
                <div id="other-language-group" class="form-group row">
                    <label class="col-12" for="other-language-input-group">
                        Other Languages
                        <i class="far fa-question-circle" data-toggle="tooltip" data-title="Knowing all the languages you have learned or studied before will help us learn how other people with your language background learn Cree."></i>
                    </label>
                    <div class="col-12">
                        <a href="" id="other-language-help">
                            <small>What should I include in my "Other Languages"?</small>
                        </a>
                        <div id="other-language-help-text" class="closed">
                            <small>
                                You can include any other languages you speak that you learned after childhood or that you didn't speak at home as a child. You can add more than one if you need to.
                            </small>
                        </div>

                    </div>
                    <div id="other-language-input-group" class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control other-language" placeholder="e.g. Wood Cree">
                            <div class="dropdown input-group-append">
                                <a class="btn btn-secondary dropdown-toggle" data-display="static" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Fluency</span>
                                </a>
                                <!-- TODO: decide on better options -->
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="" value="1">Little experience, can use and understand basic sentences and questions</a>
                                    <a class="dropdown-item" href="" value="2">Some experience, can hold basic, casual conversations</a>
                                    <a class="dropdown-item" href="" value="3">Lots of experience, not quite fluent but can communicate well in the language</a>
                                    <a class="dropdown-item" href="" value="4">Fluent, no communication problems</a>
                                </div>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary remove-other-language" type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary add-other-language" type="button">
                            Add Language
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <button id="submit" name="submit" class="btn btn-primary">Submit</button>
                        <button id="cancel" name="cancel" class="btn btn-outline-primary">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}