<!--
    SO far is code is not being used because it isn't being called
    idk how to call it using the django-autocomplete-light framework since it doesn't
    provide any insight on how to do it
-->

{% load i18n %}
{% load autocomplete_light_tags %}

{% if choices %}
    <h2>{% trans 'Please select a language' %}</h2>
    {% for choice in choices %}
        {{ choice|autocomplete_light_choice_html:autocomplete }}
    {% endfor %}
{% else %}
    <h2>{% trans 'No matching language found' %}</h2>
    <p>
        {% blocktrans %}Sorry we do not have the language you entered in our database.{% endblocktrans %}
    </p>
{% endif %}