{% extends 'base.html' %}
{% load static %} 
{% load sass_tags %} 
{% load crispy_forms_tags %} 

{% block styles %}
<link href="{% sass_src 'login/scss/login.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'login/scss/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{% static 'login/js/profile.js' %}"></script>
<script src="{% static 'login/js/intake.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">

        <!--Navigation bar-->
        <div class="align-top col-lg-3 mb-3">
            <!-- Standard profile page navigation menu -->
            <div id="wide-screen-nav">
                <ul class="list-group">
                    <a class="list-group-item active" href="">Profile</a>
                    <a class="list-group-item text-dark" href="{% url 'login:profile-language' %}">Languages Information</a>
                    <a class="list-group-item text-dark" href="{% url 'login:profile-delete' %}">Delete Account</a>
                </ul>
            </div>

            <!-- Modile profile page navigation menu -->
            <div id="small-screen-nav">
                <button type='button' class="list-group-item" data-toggle="collapse" data-target="#menu">
                    Menu <i class="fas fa-bars"></i>  
                </button>
                <div class='collapse' id='menu'>
                    <ul class="list-group">
                        <a class="list-group-item active" href="">Profile</a>
                        <a class="list-group-item text-dark" href="{% url 'login:profile-language' %}">Languages Information</a>
                        <a class="list-group-item text-dark" href="{% url 'login:profile-delete' %}">Delete Account</a>
                    </ul>
                </div>
            </div>
        </div>

        <!--Profile content-->
        <div class="col-lg-9">
            <!--Display messages if there are any-->
            <div class='messages'>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Profile and account information -->
            <div id="profile-content">
                <h4>
                    {% if user.first_name %}
                        {{ user.first_name.capitalize }}'s Profile
                    {% else %}
                        Profile
                    {% endif %}
                </h4>
                <hr>
                <div>
                    <small>Tip: hover over the <i class="far fa-question-circle"></i> icon for more information.</small>
                </div>
                <br>
                <h5>Account Details</h5>

                <!--The profile information-->
                <div class="table-responsive" id="account-details"> 
                    <table class="table table-hover mb-3">
                        <tbody>
                        <tr>
                            <td class="text-muted" style="width: 25%">Full Name:</td>
                            <!--Display user's full name-->
                            <td id="name-details">{{user.first_name.capitalize }} {{user.last_name.capitalize}} </td>
                            <!--Display editable form witd text input for user's first and last name-->
                            <td id="name-form">
                                <form action="" method="POST" class="col">
                                    {% csrf_token %}
                                    {% crispy name_form %}
                                </form>
                            </td>
                            <td class="align-text-right">
                                <a class="small text-muted" id="name-form-button">Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-muted" style="width: 25%">Gender:
                                <button class="custom-tooltip" data-toggle="tooltip" data-title="Your gender allows us to find out who is generally using our services.">
                                    <i class="far fa-question-circle" ></i>
                                </button></td>
                            <!--Display user gender-->
                            <td id="gender-details">{{user.gender}} </td>
                            <!--Display editable form witd dropdown menu for user gender-->
                            <td id="gender-form">
                                <form action="" method="POST" class="col">
                                    {% csrf_token %}
                                    {% crispy gender_form %}
                                </form>
                            </td>
                            <td class="align-text-right"><a class="small text-muted" id="gender-form-button">Edit</a></td>
                        </tr>
                        <tr>
                            <td class="text-muted align-text-top" style="width: 25%">Age Range:
                                <button class="custom-tooltip" data-toggle="tooltip" data-title="Your age range can help us personalize your experience.">
                                    <i class="far fa-question-circle" ></i>
                                </button></td>
                            </td>
                            <!--Display static user age range-->
                            <td class="align-text-left" id="age-details">{{user.age_range}} </td>
                            <!--Display editable form witd dropdown menu for user age range-->
                            <td id="age-form">
                                <form action="" method="POST" class="col">
                                    {% csrf_token %}
                                    {% crispy age_form %}
                                </form>
                            </td>
                            <td class="align-text-right"><a class="small text-muted" id="age-form-button">Edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <br>

                <h5>Login Details </h5>
                <div class="table-responsive"> 
                    <table class="table table-hover mb-3">
                        <tbody>
                        <!--Display the user's email address-->
                        <tr id="email">
                            <td class="text-muted" style="width: 25%">Email:</td>
                            <td class="align-text-left">{{user.email}} </td>
                            <td class="align-text-right"><a class="small text-muted" id="email-form-button">Edit</a></td>
                        </tr>

                        <!--Email update form block-->
                        <tr id="email-form">
                            <td class="text-muted align-text-left" style="width: 25%">Email:</td>
                            <td class="align-text-left">
                                <form action="" method="POST" class="col">
                                    {% csrf_token %}
                                    {% crispy email_form %}
                                </form>
                            </td>
                        </tr>

                        <!--Dispaly a random string of asterix to show a password and link the user to 
                            the password change page -->
                        <tr>
                            <td class="text-muted" style="width: 25%">Password:</td>
                            <td> ******* </td>
                            <td class="align-text-right"><a class="small text-muted" id="password-button" href="{% url 'login:password-change' %}">Edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <!--Display when the user joined the site-->
                <p class="col-12 text-muted text-right">
                    Joined on {{user.date_joined|date:"n/j/Y"}} 
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
