{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link href="{% sass_src 'login/scss/login.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{% static 'login/js/profile.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-3">
            <nav id="profile-page-navigation">
                <!-- Standard profile page navigation menu-->
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-account-information-list" data-toggle="list" href="#list-account-information" role="tab" aria-controls="list-account-information">Account Information</a>
                    <a class="list-group-item list-group-item-action" id="list-another-section-list" data-toggle="list" href="#list-another-section" role="tab" aria-controls="list-another-section">Another Section</a>
                    <a class="list-group-item list-group-item-action" id="list-third-section-list" data-toggle="list" href="#list-third-section" role="tab" aria-controls="list-third-section">Third Section</a>
                    <a class="list-group-item list-group-item-action" id="list-last-section-list" data-toggle="list" href="#list-last-section" role="tab" aria-controls="list-last-section">Last Section</a>
                </div>

                <!-- Profile page navigation menu as dropdown for mobile web -->
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" data-display="static" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account Information
                    </a>

                    <!-- TODO: it's probably bad to have the same ids for both menus but I'm not sure how to avoid this... investigate -->
                    <div class="dropdown-menu list-group" role="tablist" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item active" id="list-account-information-list" data-toggle="list" role="tab" aria-controls="list-account-section" href="#list-account-information">Account Information</a>
                        <a class="dropdown-item" id="list-another-section-list" data-toggle="list" role="tab" aria-controls="list-another-section" href="#list-another-section">Another Section</a>
                        <a class="dropdown-item" id="list-third-section-list" data-toggle="list" role="tab" aria-controls="list-third-section" href="#list-third-section">Third Section</a>
                        <a class="dropdown-item" id="list-last-section-list" data-toggle="list" role="tab" aria-controls="list-last-section" href="#list-last-section">Last Section</a>
                    </div>
                </div>
            </nav>

        </div>
        <div class="col-lg-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-account-information" role="tabpanel" aria-labelledby="list-account-information-list">
                    <div class="profile-section">
                        <h4>Account Information</h4>
                        <hr>
                        <ul class="list-group">
                            <li class="row list-group-item">
                                <label class="col-4">Email:</label>
                                <input class="col-7" value="{{ request.user.username }}"/>
                            </li>
                            <!-- TODO: anything else? name? -->
                        </ul>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                    <div class="profile-section">
                        <h4>Change Password</h4>
                        <hr>
                        <ul class="list-group">
                            <li class="row list-group-item">
                                <label class="col-4" id="old-password-label" for="old-password">Old Password:</label>
                                <input class="col-7" id="old-password" aria-labelledby="old-password-label" />
                            </li>
                            <li class="row list-group-item">
                                <label class="col-4" id="new-password-label" for="new-password">New Password:</label>
                                <input class="col-7" id="new-password" aria-labelledby="new-password-label" />
                            </li>
                            <li class="row list-group-item">
                                <label class="col-4" id="confirm-password-label" for="confirm-password">Confirm New Password:</label>
                                <input class="col-7" id="confirm-password" aria-labelledby="confirm-password-label" />
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-another-section" role="tabpanel" aria-labelledby="list-another-section-list">PERHAPS SOME DEMOGRAPHIC OPTIONS - FILL IN</div>
                <div class="tab-pane fade" id="list-third-section" role="tabpanel" aria-labelledby="list-third-section-list">PERHAPS SOME SETTINGS - FILL IN</div>
                <div class="tab-pane fade" id="list-last-section" role="tabpanel" aria-labelledby="list-last-section-list">PERHAPS SOME INFO ABOUT THE USER MODEL- FILL IN</div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: should be a little bit different the first time they see this (when the user has no profile saved yet) -->
<!-- after the first time it should be a standard profile page with the fields that the user can edit -->
<!-- TODO: add little "hints" after all the fields for the user to be able to see why we're collecting that data (transparency) -->

<!-- Need to be able to continue to the homepage -->
<!-- TODO: Should also show the user where they can access the profile page later -->
<a class="choose" href="{% url 'home:index' %}" >Save & Continue</a>

{% endblock %}