{% extends 'base.html' %}
{% load static %} 
{% load sass_tags %} 
{% load crispy_forms_tags %} 

{% block styles %}
<link href="{% sass_src 'login/scss/login.scss' %}" rel="stylesheet" type="text/css" />
<!--Logo icon-->
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'login/js/profile.js' %}"></script>
<script src="{% static 'login/js/intake.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <!--Navigation bar-->
        <div class="align-top col-lg-3 mb-3">
            <!-- Standard profile page navigation menu -->
            <div id="wide-screen-nav">
                <ul class="list-group">
                    <a class="list-group-item text-dark" href="{% url 'login:profile' %}">Profile</a>
                    <a class="list-group-item text-dark" href="{% url 'login:profile-language' %}">Languages Information</a>
                    <a class="list-group-item active" href="">Delete Account</a>
                </ul>
            </div>

            <!-- Modile profile page navigation menu -->
            <div id="small-screen-nav">
                <button type='button' class="list-group-item" data-toggle="collapse" data-target="#menu">
                    Menu <i class="fas fa-bars"></i>  
                </button>
                <div class='collapse' id='menu'>
                    <ul class="list-group">
                        <a class="list-group-item text-dark" href="{% url 'login:profile' %}">Profile</a>
                        <a class="list-group-item text-dark" href="{% url 'login:profile-language' %}">Languages Information</a>
                        <a class="list-group-item active" href="">Delete Account</a>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Delete account tab content with link to profile deletion confirmation page-->
        <div class='col-lg-9'>
            <div id="delete-account">
                <h4>Delete your account </h4>
                <hr>
                <div class="col-12 list-group-item box-display mb-3">
                    <p>You can delete your account with us anytime. </p>
                    <p> Please note that if you delete your account with us, you will not be able to retrieve it anymore and all the progress you made in any language learning games will be lost.</p> 
                    <br>
                    <p>If you are sure you would like to delete your account, please click on the <b>Delete My Account</b> button below.</p>
                </div>
                <div class="text-center">
                    <a type="button" class="btn btn-danger" href="{% url 'login:profile-delete-confirm'%}">Delete My Account</a>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}