{% extends 'base.html' %}
{% load static %} 
{% load sass_tags %} 
{% load crispy_forms_tags %} 

{% block styles %}
<link href="{% sass_src 'login/scss/login.scss' %}" rel="stylesheet" type="text/css" />
<!--Logo icon-->
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'login/js/profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="justify-content-md-center">
    <!--Display warning and explaining to users what deleting their account entails to-->
        <h4>Confirm Account Deletion</h4>
        <div class="mb-3 mt-2 col-12 list-group-item box-display">
            You are about to delete your account. After you delete your account, you will not be able to retrieve it again.
            <br>
            If you are sure you want to delete your account, click the <b>Delete</b> button below.
        </div>
        <div class="row mx-1">
            <!--Form that sends the delete request and delete the user account-->
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mx-1">Delete</button>
            </form>
            <!--Cancel button that leads users back to the previous page-->
            <a type="button" class="btn btn-light text-muted inline"  href="{% url 'login:profile-delete' %}">
                Cancel
            </a>
        </div>
    </div>
</div>
{% endblock %}
