{% extends 'base.html' %}
{% load static %} 
{% load sass_tags %} 
{% load crispy_forms_tags %} 

{% block styles %}
<link href="{% sass_src 'login/scss/login.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{% static 'login/js/profile.js' %}"></script>
<script src="{% static 'login/js/intake.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">

        <!--Navigation bar-->
        <div class="align-top col-lg-3 mb-3">
            <!-- Standard profile page navigation menu -->
            <div id="wide-screen-nav">
                <ul class="list-group">
                    <a class="list-group-item active" href="">Profile</a>
                    <a class="list-group-item text-dark" href="{% url 'login:profile-language' %}">Languages Information</a>
                    <a class="list-group-item text-dark" href="{% url 'login:profile-delete' %}">Delete Account</a>
                </ul>
            </div>

            <!-- Modile profile page navigation menu -->
            <div id="small-screen-nav">
                <button type='button' class="list-group-item" data-toggle="collapse" data-target="#menu">
                    Menu <i class="fas fa-bars"></i>  
                </button>
                <div class='collapse' id='menu'>
                    <ul class="list-group">
                        <a class="list-group-item active" href="">Profile</a>
                        <a class="list-group-item text-dark" href="{% url 'login:profile-language' %}">Languages Information</a>
                        <a class="list-group-item text-dark" href="{% url 'login:profile-delete' %}">Delete Account</a>
                    </ul>
                </div>
            </div>
        </div>

        <!--Profile content-->
        <div class="col-lg-9">
            <!--Display messages if there are any-->
            <div class='messages'>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Profile and account information -->
            <div id="profile-content">
                <h4>
                    {% if user.first_name %}
                        {{ user.first_name.capitalize }}'s Profile
                    {% else %}
                        Profile
                    {% endif %}
                </h4>
                <hr>
                <div>
                    <small>Tip: hover over the <i class="far fa-question-circle"></i> icon for more information.</small>
                </div>
                <br>
                <h5>Account Details</h5>

                <!--The profile information-->
                <div id="account-details"> 
                    <table class="col-12 list-group-item box-display mb-3">
                        <tr>
                            <td class="col-3 text-muted align-text-top">Full Name:</td>
                            <!--Display user's full name-->
                            <td class="col-9" id="name-details">{{user.first_name.capitalize }} {{user.last_name.capitalize}} </td>
                            <!--Display editable form with text input for user's first and last name-->
                            <td class="col-9" id="name-form">
                                <form action="" method="POST" class="form-inline">
                                    {% csrf_token %}
                                    {% crispy name_form %}
                                </form>
                            </td>
                            <td><a class="small text-muted col-6" id="name-form-button">Edit</a></td>
                        </tr>
                        <tr>
                            <td class="col-3 text-muted align-text-top">Gender:
                                <button class="custom-tooltip" data-toggle="tooltip" data-title="Your gender allows us to find out who is generally using our services.">
                                    <i class="far fa-question-circle" ></i>
                                </button></td>
                            <!--Display user gender-->
                            <td class="col-9" id="gender-details">{{user.gender}} </td>
                            <!--Display editable form with dropdown menu for user gender-->
                            <td class="col-9" id="gender-form">
                                <form action="" method="POST" class="form-inline">
                                    {% csrf_token %}
                                    {% crispy gender_form %}
                                </form>
                            </td>
                            <td><a class="small text-muted col-6" id="gender-form-button">Edit</a></td>
                        </tr>
                        <tr>
                            <td class="col-3 text-muted align-text-top">Age Range:
                                <button class="custom-tooltip" data-toggle="tooltip" data-title="Your age range can help us personalize your experience.">
                                    <i class="far fa-question-circle" ></i>
                                </button></td>
                            </td>
                            <!--Display static user age range-->
                            <td class="col-9" id="age-details">{{user.age_range}} </td>
                            <!--Display editable form with dropdown menu for user age range-->
                            <td class="col-9" id="age-form">
                                <form action="" method="POST" class="form-inline">
                                    {% csrf_token %}
                                    {% crispy age_form %}
                                </form>
                            </td>
                            <td><a class="small text-muted col-6" id="age-form-button">Edit</a></td>
                        </tr>
                    </table>
                </div>

                <br>
                <br>

                <h5>Login Details </h5>
                <table class="col-12 list-group-item box-display mb-3">
                    <!--Display the user's email address-->
                    <tr id="email">
                        <td class="col-3 text-muted">Email:</td>
                        <td class="col-6">{{user.email}} </td>
                        <td><a class="small text-muted col-6" id="email-form-button">Edit</a></td>
                    </tr>

                    <!--Email update form block-->
                    <tr id="email-form">
                        <td class="col-3 text-muted align-text-top">Email:</td>
                        <td class="col-9">
                            <form action="" method="POST" class="form-inline">
                                {% csrf_token %}
                                {% crispy email_form %}
                            </form>
                        </td>
                    </tr>

                    <!--Dispaly a random string of asterix to show a password and link the user to 
                        the password change page -->
                    <tr>
                        <td class="col-3 text-muted">Password:</td>
                        <td class="col-9"> ******* </td>
                        <td><a class="small text-muted col-6" href="{% url 'login:password-change' %}">Edit</a></td>
                    </tr>
                </table>
                <br>
                <br>
                <!--Display when the user joined the site-->
                <p class="col-12 text-muted text-right">
                    Joined on {{user.date_joined|date:"n/j/Y"}} 
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
