{% extends 'base.html' %}
{% load static %} 
{% load sass_tags %} 
{% load crispy_forms_tags %} 

{% block styles %}
<link href="{% sass_src 'login/scss/login.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <h4>ᐃᑯᓯ (Goodbye)</h4>
        <div class="mb-3 mt-2">
            Your account has been successfully deleted. 
            <br>
            If you would like to access our content, please create a new account though the link below. 
        </div>
        <a type="button" class="btn btn-primary"  href="{% url 'login:index' %}">
            Register
        </a>
    </div>
</div>
{% endblock %}
