#pip install -r requirements.txt
#Run this command once inside your virtualenv to make sure all versions align
#Dear Delaney, Please add the command for mac, maybe, brew install -r requirements.txt

Django==2.2
psycopg2-binary
numpy
libsass
django-compressor
django-sass-processor
django-crispy-forms
django-autocomplete-light