#pip install -r requirements-windows.txt
#Run this command once inside your virtualenv to make sure all versions align
#Change the Django version to the version that is on your device

Django==2.2.2
psycopg2
numpy
libsass
rcssmin --install-option="--without-c-extensions"
django-compressor
django-sass-processor
rjsmin --install-option="--without-c-extensions"
django-crispy-forms
django-autocomplete-light
