#signup-form {
    display: none;
}

.panel-heading .nav a {
    text-align: center;
    font-size: 1.2em;
}

.panel-heading .nav a.active {
    font-weight: bold;
}

/* Temporary colours, need to pick colour scheme still */
.btn {
    background: grey;
    color: white;
}

.btn:hover {
    background: lightgrey;
}

.mismatch {
    border: red 1px solid;
}