#signup-form {
    display: none;
}

.panel-heading .nav a {
    text-align: center;
    font-size: 1.2em;
}

.panel-heading .nav a.active {
    font-weight: bold;
}

/* Temporary colours, need to pick colour scheme still (and this should be in the common css probably?) */
.btn {
    background: grey;
    color: white;
}

.btn:hover:enabled {
    background: lightgrey;
}

.error {
    border: red 1px solid;
}

/* This is to mimic the spacing in the .form-group bootstrap styling and the height of the input field */
@media screen and (max-width: 991px) {
    .form-field-message {
        padding-bottom: 1rem;
        margin-top: -1rem;
    }
}

@media screen and (min-width: 992px) {
    .form-field-message {
        padding-bottom: 1rem;
        margin-left: -1.5rem;
        line-height: 38px; /* Height of input box */
    }
}

.form-message {
    padding-bottom: 1rem;
}

.hidden {
    display: none;
}

nav .dropdown {
    display: none;
}

@media screen and (max-width: 991px) {
    nav .list-group {
        display: none;
    }

    nav .dropdown {
        display: inline-block;
    }
}
