{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'lettergame/css/gamestyle.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'lettergame/js/logging.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <audio controls controlsList="nodownload" id="aud">
                <source src="{% static ''%}{{sound}}" type="audio/wav" id="sound">
                Your browser does not support the sound type
            </audio>
            <input type="hidden" id="correct_r" name= "correct_r" value="{{ correct }}" />
            <form id="game_ans">
                {% for letter in letters %}
                    <input class="choice_button" id="letter-{{ letter }}" type="radio" name= "user_r" value="{{ letter }}" required/>
                    <label class="choice_button" for="letter-{{ letter }}">{{ letter }}</label><br class="choice_button"/>
                {% endfor %}
                <input class="choice_button btn btn-primary" id="sub" type="submit" value="submit"/>
            </form>
        </div>

    </div>
</div>
{% endblock content %}
