{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'lettergame/css/gamestyle.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'lettergame/js/logging.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-centered">
            <button class="btn btn-primary nav-link btn-lg btn-sq" href="#">
                <img id="speaker-button" class="largest-button-padding" src="{% static 'lettergame/image/speaker_button.png' %}" />
            </button>

            <h2 class="text-center">Select the answer:</h2>
            <input type="hidden" id="correct_r" name= "correct_r" value="{{ correct }}" />
        </div>
    </div>
    <div class="row">
        <div class="col-centered">
            <span id="buttons_for_answers">
                <form id="game_ans">
                    {% for letter in letters %}
                        <input class="btn btn-default m-3 pl-5 pr-5" name="user_r" id="sub" type="submit" value={{letter}}>
                    {% endfor %}
                </form>
            </span>
        </div>
    </div>
</div>
{% endblock content %}
