{% extends 'lettergame/base.html' %}
{% load static %}

	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'lettergame/css/style.css' %}" />
	<script src="{% static 'lettergame/js/logging.js' %}"></script>
	{% endblock %}

	{% block content %}
		<div class="gamelinks">
			<a class="choose" href="{% url 'lettergame:whichGame' 'single' %}" >Single letter game</a>
			<a class="choose" href="{% url 'lettergame:whichGame' 'double' %}" >Letter pair game</a>
			<a class="choose" href="{% url 'lettergame:invaderslevel' %}" >Space Invaders Game</a>
			<a class="choose" href="{% url 'lettergame:lemmagame' 'reception' %}" >Lemma:reception</a>
		</div>

	{% endblock content %}
