{% extends 'lettergame/base.html' %}
{% load static %}

	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'lettergame/css/style.css' %}" />
	{% endblock %}

	{% block content %}
		<div class="gamelinks">
			<a class="choose" href="{% url 'lettergame:whichgame' 'single' %}" >Single letter game</a>
			<a class="choose" href="{% url 'lettergame:whichgame' 'double' %}" >Letter pair game</a>
			<a class="choose" href="{% url 'lettergame:invaders' %}" >Space Invaders Game</a>
		</div>

	{% endblock content %}
