<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap.min.css' %}" />
    <!--Scripts needed for boostrap  -->
    <script src="{% static 'common/js/popper.min.js' %}"></script>
    <script src="{% static 'common/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'common/js/bootstrap.min.js' %}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>Learn Cree</title>
    {% endblock %}

    {% block styles %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</head>

<body>
    <!-- Bootstrap navigational bar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #e6b800;">
        <a class="navbar-brand" href="{% url 'lettergame:index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login:signout' %}">Log Out <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lemma Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'lettergame:lemmagame' 'reception' %}">Reception</a>
                        <a class="dropdown-item" href="">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Log Out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <p id="demo"></p>

    {% block content %}
    {% endblock content %}

</body>

</html>
