{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'lettergame/scss/lettergame.scss' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'lettergame/js/logging.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <a class="btn btn-primary col-lg-3" href="{% url 'lettergame:whichGame' 'single' %}" >Single letter game</a>
        <a class="btn btn-primary col-lg-3" href="{% url 'lettergame:whichGame' 'double' %}" >Letter pair game</a>
        <a class="btn btn-primary col-lg-3" href="{% url 'lettergame:invaderslevel' %}" >Space Invaders Game</a>
        <a class="btn btn-primary col-lg-3" href="{% url 'shadowing:index' %}" >Shadowing</a>
    </div>
</div>
{% endblock content %}
