{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'shadowing/scss/shadowing.scss' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<div class="container">
    <h3 class="row justify-content-md-center">Choose your story level! </h3>
    <div class="row justify-content-md-center">
        <span id="buttons_for_answers">
            <form id="game_ans">
                <input class="btn btn-default m-3 pl-5 pr-5 submit_answer" type="submit" value={{letter}}>
            </form>
        </span>
    </div>
</div>
{% endblock content %}