{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'audio/audio.js' %}"></script>

<script>
    $(function() {
        // Variables store if baseline has been established and download of the audiofile has been completed
        var baselineStatus = false;
        var downloadStatus = false;
        var playing = false;
        var audioFile = null;

        time_stamped_words = [
            {% for word in audio_transcript_list %}
                ["{{word.1}}", "{{word.2}}"],
            {% endfor %}
        ];

        var highlightCallFrequency = 33;
        // Baseline has been established, change status and call function to do more work
        baselineEstablisedCallback = function baselineEstablised(){
            baselineStatus = true;
            makePlayActive(baselineStatus, downloadStatus, audioFile, function () {setInterval(highLightActiveWord, highlightCallFrequency, audioFile, time_stamped_words);});
        };

        // Download has been completed, change status and call the function to do more work
        downCompleteCallback = function downloadComplete(data){
            downloadStatus = true;
            audioFile = data;
            makePlayActive(baselineStatus, downloadStatus, audioFile, function () {setInterval(highLightActiveWord, highlightCallFrequency, audioFile, time_stamped_words);});
        };

        // Call the function to get the microphone baseline/monitor the audio level and download the audiofile
        s = "{% static '' %}" + '{{audio_file_loc}}';
        getAudioFile(downCompleteCallback, s);
        microphoneLevels(baselineEstablisedCallback);

        $('#play_button').click(
            function () {
                if (baselineStatus == true && downloadStatus == true) {
                    if (playing == true){
                        $('#play_button').html("Play");
                        playing = false;
                        audioFile.pause();
                    } else{
                        $('#play_button').html("Pause");
                        playing = true;
                        audioFile.play();
                    }
                }
            }
        );
    });
</script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <a id="play_button" class="col- nav-link active" href="#">Please wait...</a>
                    </div>
                    <div class="col-md-7">
                        <p>
                            {% for word in audio_transcript_list %}
                            <span id="shadowing_word_{{word.0}}" class="shadowing_word_span">{{word.3}}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
